html, body {
    height: 100%;
}

body {
    margin: 0;
}

.container--theme-gray {
    border: 1px solid #cccccc;
}

.container--theme-dark {
    border: 1px solid #333333;
}

.root {
    position: absolute;    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    display: flex;
    flex-direction: column;
}


.footer {
    height: 30px;
}

@media (min-width: 520px) {
    .root {
        font-size: 1rem;
    }
    .header {
        flex: 1 1 100px;
    }
    .main {
        flex: auto;
        display: flex;
        flex-direction: row;
    }
    .nav {
        width: 200px;
    }
    .content {
        flex: 1 1 auto;
    }
}

@media (max-width: 520px) {
    .root {
        font-size: 1.3rem;
    }
    .header {
        flex: 1 1 content;
    }
    .main {
        flex: auto;
        display: flex;
        flex-direction: column;
    }
    .nav {
        flex: 1 1 content;
        order: 2;
    }
    .content {
        min-height: 100px;
        flex: 1 1 auto;
        order: 2;
    }
}