html, body {
    height: 100%;
}

body {
    margin: 0;
}

.container--theme-gray {
    border: 1px solid #cccccc;
}

.container--theme-dark {
    border: 1px solid #333333;
}

.root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;

    display: grid;
    grid-template-columns: minmax(auto, 250px) auto;
}

.nav-drawer {
    grid-column: 1;

    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 50px 1fr 50px;
}

.nav-drawer__tbar {
    grid-row: 1;
    grid-column: 1;
}

.nav-drawer__nav-list {
    grid-row: 2;
    grid-column: 1;
}

.nav-drawer__sub-nav-list {
    grid-row: 1;
    grid-column: 2;
}

.nav-drawer__bbar {
    grid-row: 3;
    grid-column: 1;
}